@import "../../../base";

.drafts_section {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 2% 5%;
  .main_right {
    width: 60%;
    background-color: #0074d9;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    .lamp {
      width: 500px;
      height: 400px;
      position: relative;
      z-index: 9;
    }
    .about_text {
      padding: 20px;
      z-index: 8;
      height: 160px;
      background-color: red;
      position: absolute;
      top: 190px;
      right: 145px;
      transform: rotate(90deg); /* Rotates the div upside down */
      transform-origin: center; /* Ensures it rotates around its center */
    }
  }

  .main_left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .main_left_up,
    .main_left_down {
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      color: #fff;

      h1 {
        font-size: 2rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .main_left_up {
      background-color: #ff851b;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main_left_down {
      background-color: #2ecc40;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
