@import "../../../base";

.prodCard_sec {
  padding: 2% 10%;
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of items */
  justify-content: space-around; /* Space out items evenly */
  gap: 30px; /* Adjust gap between items */

  .prodCard {
    position: relative;
    width: 380px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0.3, 0, 0.3, 0.3);
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    }
    .cardInformations {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      margin-top: 26px;
      .border_bottom {
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        margin-top: 2px;
        margin-bottom: 20px;
      }
      .prod_name_brand {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 12px;
        .prod_name {
          line-height: 18px;
          font-size: 16px;
          color: $text-color;
        }
        .prod_brend {
          line-height: 22px;
          font-size: 25px;
          font-weight: 600;
          color: $text-color;
        }
      }

      .prod_price_div {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 8px;
        .prod_price {
          font-size: 18px;
          color: #970027;
          line-height: 20px;
        }
        .others_price {
          font-size: 14px;
          color: #b0b0b0;
          font-weight: 500;
          .strike {
            position: relative;
            display: inline-block;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: #b0b0b0;
              transform: rotate(166deg);
              transform-origin: center;
            }
          }
        }

        p {
          font-size: 18px;
          font-weight: bold;
          color: #333;
        }
      }
    }

    .badge {
      position: absolute;
      top: 0;
      left: 0;
      background: #970027;
      color: #fff;
      font-size: 12px;
      padding: 6px 12px;
      border-radius: 10px 0 10px 0;
    }

    .card_image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 260px;
      padding: 20px 10px 10px 10px;
      overflow: hidden;

      .card_img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }

    .card_icons {
      .like_button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        cursor: pointer;
        color: #333;
        transition: color 0.3s ease;
        :hover {
          color: rgb(244, 67, 54);
        }
        .like_button.liked {
          color: rgb(244, 67, 54);
        }
      }
      .add_card_button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        cursor: pointer;
        color: #333; // Default color
        transition: color 0.3s ease;

        :hover {
          color: $text-color;
        }
      }
      .free_packaging {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        color: #fff;
        background-color: rgba(76, 175, 80, 0.7);
        padding: 5px 12px;
        border-radius: 20px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        cursor: pointer;
        &:hover {
          background-color: rgba(76, 175, 80, 0.9);
        }

        .free_packaging_icon {
          font-size: 18px;
          color: rgb(255, 255, 255);
        }

        .free_packaging_text {
          font-size: 14px; // Adjust font size if needed
        }
      }
    }
  }
}
