@import "../../../base";

.catalog_section {
  padding: 0 8% 5px 8%;
  width: 100%;
  background-color: white;
  z-index: 100;
  .catalog_div {
    .cat_ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-color;
      gap: 20px;
    }

    .submenu {
      display: none;
      list-style: none;
      padding: 0;
      margin: 5px 0;
    }

    .cat_ul li:hover .submenu {
      display: block;
    }
    ////hover backg
    .cat_ul li {
      position: relative;
      padding: 10px 15px;
      overflow: hidden;
      border-radius: 6px;
      cursor: pointer;
    }

    .cat_ul li:hover::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      top: 0;
      left: -100%;
      transition: left 0.3s ease;
    }

    .cat_ul li:hover::after {
      left: 0;
    }
  }
}
