@import "../../../base";

.main_section {
  padding: 0;
  .main-image {
    z-index: -10;
    object-fit: cover;
    width: 100%;
    margin-top: -100px;
    height:88vh;
    position: relative;
  }
  .main_backg_text {
    position: absolute;
    left: 100px;
    top: 320px;
    z-index: 11;
    h1 {
      margin-top: 20px;
      width: 600px;
      color: $text-color;
      font-size: 80px;
      font-weight: 600;
      line-height: auto;
    }
    p {
      margin-top: 10px;
      color: #bfaeaa;
      font-size: 18px;
      font-weight: 400;
    }
    .cat_btns{
        display: flex;
        align-items: center;
        gap: 30px;
        .main_btn, .compan_btn {
            margin-top: 60px;
            background-color: $text-color;
            border-radius: 6px;
            color: white;
            font-size: 16px;
            padding: 13px;
            animation: pulse 2s infinite;
            cursor: pointer;
            @keyframes pulse {
              0%,
              100% {
                transform: scale(1);
              }
              50% {
                transform: scale(1.1);
              }
            }
          }
    }
    
  }
}
